<!-- <h2>Log In</h2>
<div>
  <label for="user-name">user name: </label>
  <input id="user-name" [(ngModel)]="user.username" placeholder="username">
</div>
<div>
  <label for="password">password: </label>
  <input id="password" [(ngModel)]="user.password" placeholder="password">
</div>

<button  class="btn btn-success">Login</button> -->


<h1 style="text-align: center; margin-top: 100px; ">Login in</h1>
<div id="form" class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Login</mat-label>
    <input matInput [(ngModel)]="user.username" placeholder="Login" required>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="user.password" placeholder="Password"  required>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  <section>
    <div class="example-button-row">
      <button (click)="loginOnServe()" mat-raised-button color="primary">Login in</button>
    </div>
  </section>
</div>